{% for host in ansible_play_hosts %}
server.{{ loop.index + 20 }}={{ hostvars[host]['ansible_host'] }}:{{ zookeeper_election_port }}:{{ zookeeper_communication_port }}:participant;0.0.0.0:{{ zookeeper_port }}
{% endfor %}
